.form-inline .form-group{
	padding-right: 8px;
	padding-bottom: 8px;
}
.averages .panel.panel-default .panel-body h1{
	margin: 10px 0px;
}

.navbar.no-margin{
	margin-bottom: 0px;
}

.affix{
	width: 255px;
	top: 20px;
}
body{
	position: relative;
}

html, body{
    height: 100%;
}

